.statblock{
    margin: 30px 0;
    font-size: 20px;
}

.statblock .statblock__header{
    background: #4773f0;
    color: #FFF;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 0;
    border-radius: 5px 5px 0 0;
}
.statblock .statblock__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: middle;
    padding: 10px;
    border: 1px solid #dcdddf;
    border-top: 0;
}
.statblock .statblock__content li{
    width: 25%;
    text-align: center;
}

.statinfo{}

.statinfo .statinfo__label{
    font-size: 14px;
    line-height: 13px;
    color: #6C6D6F;
}
.statinfo .statinfo__value{
    font-size: 25px;
    color: #2B2C2D;
    margin: 10px 0;
}
.statinfo .statinfo__position{
    font-size: 11px;
    color: #6C6D6F;
}